/* DocumentCloud overrides to the DocViewer CSS go here: */

.docviewer-editInput {
  display: block;
  border: 1px solid #999;
  border-radius: 8px; -webkit-border-radius: 8px; -moz-border-radius: 8px;
  font-family: Arial;
  margin: 2px 5px 0 0;
  padding: 4px 10px 3px;
  width:100%;
  font-size: 11px;
  line-height: 14px;
  outline: none;
  background: #FFE325;
  background: rgba(255, 227, 37, 0.2);
}

.docviewer-editInput:focus {
  background: white;
}

.docviewer-editBox{
  text-align: center;
  width: 200px;

}
::-webkit-input-placeholder { font-style:italic }
::-moz-placeholder { font-style:italic } 
input:-moz-placeholder { font-style:italic }


.docviewer-editButton {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  color: #333;
  display:inline-block;
  text-decoration:none;
  margin-top: 5px;
  cursor:pointer;
}

.docviewer-editButton:hover { 
  text-decoration:none; 
  color:#666;
  cursor:pointer;
  border:1px solid #666;
}

#form-annotation, #cancel-annotation{
  display: none;"
}

#annotation-area{
  background: #FFE325;
  background: rgba(255, 227, 37, 0.2);
  border: 3px solid #E1C800;
  border: 3px solid rgba(255, 227, 37, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  height: 100px;
  width: 200px;
  cursor: pointer;
}

#annotation-area #instruction{
  font: italic bold 11px Georgia, serif;
  background: #FFE325;
}


.docviewer-docViewer {
  border: 1px solid #aaa;
  line-height: normal;
}
.docviewer-headerHat, .docviewer-title, .docviewer-contentsHeader {
  display: none;
}
.docviewer-header {
  padding: 0;
  border-bottom: 1px solid #777;
  position: relative;
  z-index: 20000;
  box-shadow: 0 0 25px rgba(0,0,0,.35); -webkit-box-shadow: 0 0 25px rgba(0,0,0,.35); -moz-box-shadow: 0 0 25px rgba(0,0,0,.35);
}
  .docviewer-controls {
    margin-top: 0;
    border: 0;
    background: url(../../img/embed/headerbg.png);
    text-shadow: 0px 1px 0px #ddd;
    color: #000;
  }
    .docviewer-searchInput {
      border: 1px solid #999;
      border-radius: 16px; -webkit-border-radius: 16px; -moz-border-radius: 16px;
    }

.docviewer-docViewer-Container {
  margin: 0;
  border: 0;
}

.docviewer-pages, .docviewer-paper {
  background: #f5f6f7 url(../../img/embed/pagesbg.jpg);
}
  .docviewer-paper {
    padding-top: 1px; /* needed to uncollapse the margin */
  }

.docviewer-privateLock, .docviewer-showEdit, .docviewer-permalink {
  width: 16px; height: 16px;
  float: left;
  margin: -2px 0 0 10px;
  margin-left: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.docviewer-privateLock {
  cursor: default;
}
.docviewer-permalink {
  display: block;
  width: 16px; height: 16px;
  float: left;
  padding: 0;
  margin-left: 10px;
  left: 0; top: 0;
}

.docviewer-annotationTitleInput,
.docviewer-annotationTextArea {
  border: 1px solid #D0D0D0;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  font: 12px/15px Arial;
  outline: 0;
}
  .docviewer-annotationTextArea {
    padding: 7px;
    margin: 10px 0;
    height: 110px;
    outline: 0;
    resize: none;
  }
  .docviewer-annotationTitleInput {
    padding: 4px;
    width: 300px;
  }
.docviewer-annotationEditControls .minibutton {
  width: 60px;
}
  .docviewer-cancelEdit {
    margin-right: 10px;
  }

.docviewer-overlay {
  left: 0; right: 282px; bottom: 0;
}

.docviewer-well {
  padding-bottom: 16px;
}
.docviewer-descriptionHead {
  text-transform: none;
  color: black;
}
.docviewer-descriptionText {
  background: white;
  padding: 5px 14px 10px;
}

.docviewer-views {
  position: relative;
  z-index: 10;
}
  .docviewer-views .docviewer-first span {
    -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px;
  }
  .docviewer-views .docviewer-last span {
    -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px;
  }
