<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="ClearType" content="true">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title>{{document.title}}</title>

  {% load compressed %}
  {% load url from future %}
  <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  {% compressed_css 'docviewer-base' %}
  {% compressed_css 'docviewer-print' %}
  {% compressed_js 'docviewer-template' %}
  {% compressed_js 'docviewer-base' %}
</head>
<body>
<div id="notification-bar" class="container" >&nbsp;<span id="fixed-div" ></span></div>
<div id="documentviewer-container">

  <div class="documentviewer-loadingDocument"><span>Loading</span></div>
  <noscript>
    <div id="documentviewer-noJS">
      The Document Viewer requires that you enable Javascript.
    </div>
  </noscript>

</div>

<script type="text/javascript">

  var reload_url = "{% url "docviewer_json_view" pk=document.pk  %}";
  function load_document(afterLoad){
    /** Bug in docviewer: does not clear when reloads.
        A better approach should be solving this in the load function itself
        I will fix this when django-docviewer would survive by itself.
    **/
    docviewer.History.count = 0;
    mydocviewer = docviewer.load(reload_url,
      { container: '#documentviewer-container' });
  }
  load_document(null);
</script>

</body>
</html>
