{% extends 'base.html' %}
{% load compressed %}
{% load url from future %}
{% block extra_css %}
  {% compressed_css 'docviewer-base' %}
  {% compressed_css 'docviewer-print' %}
{% endblock %}
{% block extra_js %}
  <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  {% compressed_js 'docviewer-base' %}
  {% compressed_js 'docviewer-template' %}
  <style>
  body {
    margin: 0;
  }

  .docviewer-headerHat, .docviewer-title, .docviewer-contentsHeader {
    display: block;
  }
  .docviewer-docViewer-Container{
    position:absolute;
    top: 76px;
  }
  .docviewer-headerHat {
    padding: 10px 0 5px;
    margin: 0 10px 0px 15px;
    position: relative;
  }
  hr, footer, .docviewer-storyLink {
    display: none;
  }
  </style>
  <script type="text/javascript">
    function load_document(afterLoad){
      reload_url = "{% url "docviewer_json_view" pk=document.pk  %}"
      docviewer.History.count = 0; // Bug, does not clear when reloads.
      mydocviewer = docviewer.load(reload_url,
        { container: '#documentviewer-container',
          afterLoad: function(){
            jQuery('<h4/>', {
              class: 'media-heading'
            }).append(
            jQuery('<a/>', {
              href: '{{ object.get_absolute_url }}',
              text: '{{object.title}}, {{object.document.author}}',
            })).append(
            jQuery('<small/>', {
              text: ' @{{ object.document.owner }}',
            })).appendTo($('.docviewer-title').empty());
            if (afterLoad){
              afterLoad();
            }
          }
        });
    }
    load_document(null);
  </script>
{% endblock %}



{% block content %}
<div id="notification-bar" class="container" >&nbsp;<span id="fixed-div" ></span></div>
<div id="documentviewer-container">

  <div class="documentviewer-loadingDocument"><span>Loading</span></div>
  <noscript>
    <div id="documentviewer-noJS">
      The Document Viewer requires that you enable Javascript.
    </div>
  </noscript>

</div>
{% endblock %}
