<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="ClearType" content="true">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title>{{document.title}}</title>

  {% load compressed %}
  {% load url from future %}
  <script src="//code.jquery.com/jquery-1.7.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  {% compressed_css 'docviewer-base' %}
  {% compressed_css 'docviewer-print' %}
  {% compressed_js 'docviewer-base' %}
  {% compressed_js 'docviewer-template' %}
  <style>
  body {
    margin: 0;
  }
  
  .docviewer-headerHat, .docviewer-title, .docviewer-contentsHeader {
    display: block;
  }
  .docviewer-docViewer-Container{
    position:absolute;
    top: 90px;
  }
  </style>

</head>
<body>

<div id="documentviewer-container">

  <div class="documentviewer-loadingDocument"><span>Loading</span></div>
  <noscript>
    <div id="documentviewer-noJS">
      The Document Viewer requires that you enable Javascript.
    </div>
  </noscript>

</div>

<script type="text/javascript">
  docviewer.load("{% url "docviewer_json_view" pk=document.pk  %}", { container: '#documentviewer-container' });
</script>
    
</body>
</html>