<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="ClearType" content="true">
  <meta http-equiv="X-UA-Compatible" content="chrome=1" />
  <title>Document Viewer (Dev)</title>

  {% load compressed %}
  {% compressed_css 'docviewer-base' %}
  {% compressed_css 'docviewer-print' %}
  {% compressed_js 'docviewer-base' %}
  {% compressed_js 'docviewer-template' %}
  <script>
    DV = docviewer;
  </script>
</head>
<body>

<div id="document-viewer"></div>
<script type="text/javascript">
  docviewer.load('http://www.documentcloud.org/documents/87099-birth-certificate-long-form.js', {
    container: '#document-viewer',
    width: 600,
    height: 700,
    sidebar: false,
    search: false
  });
</script>

</body>
</html>