.docviewer-viewAnnotations .docviewer-set,
.docviewer-viewAnnotations .docviewer-text,
.docviewer-viewAnnotations .docviewer-search,
.docviewer-viewAnnotations .docviewer-bar{
  display:none;
}

.docviewer-viewAnnotations .docviewer-allAnnotations,
.docviewer-viewAnnotations .docviewer-annotationContent{
  display:block;
}

.docviewer-viewAnnotations .docviewer-annotationRegion{
  position: absolute;
  left: -10000px;
  width: 0; height: 0;
}

.docviewer-viewAnnotations .docviewer-annotationTab{

  filter:none;
  display:none !important;
}

.docviewer-viewAnnotations .docviewer-annotationGoto{
  display:inline;
}

.docviewer-viewAnnotations .docviewer-pageNoteAnnotationTab{
  display:none;
}

.docviewer-viewAnnotations .docviewer-annotationNext,
.docviewer-viewAnnotations .docviewer-annotationPrevious{
  display:none !important;
}

.docviewer-viewAnnotations .docviewer-annotationBG{
  margin-top:0;
  position:relative;
  clear:left;
}

.docviewer-viewAnnotations .docviewer-annotation,
.docviewer-getHeights .docviewer-annotation {
  position:relative;
  top:0 !important;
  display: inline-block;
  margin: 0 auto 25px;

  background: #ffe300;

  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;

  -webkit-box-shadow: 1px 1px 3px rgb(0,0,0);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  -moz-box-shadow: 1px 1px 3px rgb(0,0,0);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.2);

  box-shadow: 1px 1px 3px rgb(0,0,0);
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}
.docviewer-viewAnnotations .docviewer-annotation.docviewer-accessPrivate {
  background: rgb(107, 194, 248);
  background: rgba(107, 194, 248, .9);
}

/*hack to control scrollbar width in webkit*/
.docviewer-viewAnnotations .docviewer-annotation:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .docviewer-viewAnnotations .docviewer-annotation {height: 1%;}
.docviewer-viewAnnotations .docviewer-annotation {display: block;}
/* End hide from IE-mac */

.docviewer-viewAnnotations .docviewer-currentPagePrefix,
.docviewer-viewAnnotations .docviewer-totalPages{
  display:none;
}

.docviewer-viewAnnotations .docviewer-currentAnnotationPrefix,
.docviewer-viewAnnotations .docviewer-totalAnnotations{
  display:inline;
}


.docviewer-ie .docviewer-viewAnnotations .docviewer-annotationLabel {
  float:none;
  left:0;
  position:absolute;
  top:7px;
}

.docviewer-viewAnnotations .docviewer-noChildren{
  display:none !important;
}

.docviewer-viewAnnotations .docviewer-hasChildren{
  display:block !important;
}
