<div class="docviewer-annotationMarker" id="docviewer-annotationMarker-<%= id %>">
  <span class="docviewer-trigger">
    <span class="docviewer-navAnnotationTitle"><%= title %></span>&nbsp;<span class="docviewer-navPageNumber">p.<%= page %></span>
  </span>
</div>