<div id="docviewer-chapter-<%= id %>" class="docviewer-chapter <%= navigationExpanderClass %>">
  <div class="docviewer-first">
    <%= navigationExpander %>
    <span class="docviewer-trigger">
      <span class="docviewer-navChapterTitle"><%= title %></span>&nbsp;<span class="docviewer-navPageNumber">p.&nbsp;<%= pageNumber %></span>
    </span>
  </div>
  <%= noteViews %>
</div>