<% if (description) { %>
  <div class="docviewer-description">
    <div class="docviewer-descriptionHead">
      <span class="docviewer-descriptionToggle docviewer-showDescription docviewer-trigger"> Toggle Description</span>
      Description
    </div>
    <div class="docviewer-descriptionText"><%= description %></div>
  </div>
<% } %>
